[submodule "libs/middleclass"]
	path = libs/middleclass
	url = https://github.com/kikito/middleclass.git
[submodule "libs/stateful"]
	path = libs/stateful
	url = https://github.com/kikito/stateful.lua.git
